<div class="container mt-5">
    <h1 class="mt-4">ToDoList</h1>
    <div class="row mt-4">
      <div class="col">
        <button type="button" class="btn btn-warning me-2" aria-label="View all tasks">
          <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
           tutte
          </a>
        </button>      
        <button type="button" class="btn btn-warning me-2" aria-label="View all tasks">
          <a class="navbar-brand" [routerLink]="['/done']">
            fatte
          </a>
        </button>
        <button type="button" class="btn btn-warning me-2" aria-label="View all tasks">
          <a class="navbar-brand" [routerLink]="['/undone']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            da fare
          </a>
        </button>
        <button type="button" class="btn btn-warning me-2" aria-label="View all tasks">
          <a class="navbar-brand" [routerLink]="['/users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            utenti
          </a>
        </button>
    </div>
    <div class="row my-3">
      <div class="input-group w-25 mb-3">
        <input type="search" class="form-control rounded" placeholder="utente.." aria-label="utenti" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-info" data-mdb-ripple-init>cerca</button>
      </div>
    </div>
  </div>
